# if-elif-else

#### if condition:
#### &nbsp;&nbsp;&nbsp;&nbsp; expressions
#### elif condition:
##### &nbsp;&nbsp;&nbsp;&nbsp; expressions
#### else:
#### &nbsp;&nbsp;&nbsp;&nbsp; expressions

In [6]:
num=float(input())  # getting an input and converting it to float
if num>0:
    print("The number is positive")
    print("another statement for positive block")# observe the indentation
elif num<0:
    print("The number is negative")
else:
    print("The number is zero")

78
The number is positive
another statement for positive block

In [7]:
# Build a control flow for grading total marks 

# input total marks in variable tot_marks

#  tot_marks >= 60 msg="First class"

# tot_makrs >= 40 msg=" Second class"

# tot_makrs < 40 msg="Failed"

#print(msg)

# try double conditions

In [8]:
tot_marks=float(input())
if tot_marks < 100 and tot_marks > 60:
    print("Frist class")
else:
    print("not first class")

78
Frist class

## No switch - case control flow in python

# While Loop

#### while condition:
#### &nbsp;&nbsp;&nbsp;&nbsp;expressions

## Repeats executing the expression block untill the condition is met.

In [9]:
a=50
while a>30:      # a>30 is True
    print(a)
    a-=10

50
40

### write a while loop to get sum 50 positive integers from 100 to 150

In [10]:
a=100
sum=0
while a<150:
    sum+=a
    a+=1
print(sum)

6225

In [11]:
lst=[1,2,3,4]

In [12]:
20 in lst

False

# for Loop

#### for var in seq:
#### &nbsp;&nbsp;&nbsp;&nbsp;expressions

## it can be read as "for each var in seq, execute expressions"

In [13]:
list_of_countries=['India','Pakistan','Bangladesh','Sri Lanka', 'Australia','South Africa', 'West Indies', 'England']

for country in list_of_countries:
    print(country)   # observe the indentation

India
Pakistan
Bangladesh
Sri Lanka
Australia
South Africa
West Indies
England

In [14]:
# lets print the unicodes of all small letters
# extend it for capital letters

smalls= "fghijklmnopqrstuvwxyz"    # smalls is a string containing all small letters
for a in smalls:
    print(a,'\t', ord(a) )

f 	 102
g 	 103
h 	 104
i 	 105
j 	 106
k 	 107
l 	 108
m 	 109
n 	 110
o 	 111
p 	 112
q 	 113
r 	 114
s 	 115
t 	 116
u 	 117
v 	 118
w 	 119
x 	 120
y 	 121
z 	 122

In [15]:
# one can covert string to list as follows
list('abcd')

['a', 'b', 'c', 'd']

In [16]:
smalls= ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']    # smalls is a string containing all small letters
for a in smalls:
    print(a,'\t', ord(a) )

a 	 97
b 	 98
c 	 99
d 	 100
e 	 101
f 	 102
g 	 103
h 	 104
i 	 105
j 	 106
k 	 107
l 	 108
m 	 109
n 	 110
o 	 111
p 	 112
q 	 113
r 	 114
s 	 115
t 	 116
u 	 117
v 	 118
w 	 119
x 	 120
y 	 121
z 	 122

### Above we have seen for loop iterating over each element of list or each character of the string
### So sequence can be any thing "iterable" and for loop creates "iterator" of it.

### Iterable
### Examples: lists, strings, dictionaries, file connections
### An object with an associated iter() method
### Applying iter() to an iterable creates an iterator
### Iterator
### Produces next value with next()

In [17]:
lst=[1,2,3,4]
iter(lst)    # iter function associated to the list which is an iterable creates an iterator object.

In [18]:
# lets check what is the type of it created here
type(iter(lst))  # its list_iterator

list_iterator

In [19]:
lst_itr=iter(lst)

In [20]:
next(lst_itr)   # after stop it has to be re-initiated by using iter function

1

In [21]:
str_tmp="hello"
str_itr=iter(str_tmp)
type(str_itr) # here its created str_iterator

str_iterator

In [22]:
next(str_itr)

'h'

In [23]:
dict_tmp={'a':'first','b':'second'}
dict_itr = iter(dict_tmp)
type(iter(dict_tmp)) # here its created a dict_keyiterator

dict_keyiterator

In [24]:
next(dict_itr)  # it returns only the key

'a'

In [25]:
print(*dict_itr)    # iterating at once

b

### how to iterate over both key value pairs of any dictionary?

In [26]:
# we use the dictionary function items
# it returns us the dict_items object which is like tuples of key-value pairs

In [27]:
dict_tmp.items()

dict_items([('a', 'first'), ('b', 'second')])

In [28]:
for kv in dict_tmp.items():
    #print(key,'\t',value)
    print(kv[0],kv[1])

a first
b second

In [29]:
for key in dict_tmp:
    print(key,dict_tmp[key])

a first
b second

In [30]:
dict1={'India':'Asia', 'England': ' Europe', 'Mexico': 'America' }

In [31]:
dict1.keys()

dict_keys(['India', 'England', 'Mexico'])

In [32]:
dict1.values()

dict_values(['Asia', ' Europe', 'America'])

In [33]:
dict1.items()

dict_items([('India', 'Asia'), ('England', ' Europe'), ('Mexico', 'America')])

In [34]:
dict1['India']

'Asia'

# For loop summary

In [35]:
# Each item of any sequence (iterable) can be iterated inside a for loop

In [36]:
# string iteration
strng="abcd"
print(strng)

for ch in strng:
    print(ch,'\t' ,ch.capitalize())

abcd
a 	 A
b 	 B
c 	 C
d 	 D

In [37]:
# list iteration:
lst=list(strng)
print(lst)
for ch in lst:
    print(ch,'\t' ,ch.capitalize())

['a', 'b', 'c', 'd']
a 	 A
b 	 B
c 	 C
d 	 D

In [38]:
countries =['spain', 'france', 'germany', 'norway']
capitals =['madrid', 'paris', 'berlin', 'oslo']
dict_cc= dict(zip(countries,capitals))
print(dict_cc)
for k1 in dict_cc:   # we can access only keys of the dictionary
    print(k1)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
spain
france
germany
norway

In [39]:
for k in dict_cc:   # we can access only keys of the dictionary
    print(k,'\t',dict_cc[k])    # accessing dictionary value for each key

spain 	 madrid
france 	 paris
germany 	 berlin
norway 	 oslo

In [40]:
# we can use dictionary method dict_cc.items() for getting both key, value pairs
for k,v  in dict_cc.items():
    print(k,'\t',v)

spain 	 madrid
france 	 paris
germany 	 berlin
norway 	 oslo

In [41]:
# zip two lists
for itms in zip(countries, capitals):
    print(itms)

('spain', 'madrid')
('france', 'paris')
('germany', 'berlin')
('norway', 'oslo')

In [42]:
# zip two lists
for itms in zip(countries, capitals):
    print(itms[0], '\t',itms[1])

spain 	 madrid
france 	 paris
germany 	 berlin
norway 	 oslo

## enumarate()

In [70]:
list_of_countries

['India',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Australia',
 'South Africa',
 'West Indies',
 'England']

In [71]:
enumerate(list_of_countries)

In [72]:
for pos, country in enumerate(list_of_countries):
    print(pos, country)

0 India
1 Pakistan
2 Bangladesh
3 Sri Lanka
4 Australia
5 South Africa
6 West Indies
7 England

In [73]:
for pos, country in enumerate(list_of_countries, start=1):
    print(pos, country)

1 India
2 Pakistan
3 Bangladesh
4 Sri Lanka
5 Australia
6 South Africa
7 West Indies
8 England

In [47]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
# how to print country and capital pairs of this above lists?

In [74]:
# using index
for c in countries:
    print(c,'\t\t\t', capitals[countries.index(c)])

spain 			 madrid
france 			 paris
germany 			 berlin
norway 			 oslo

In [76]:
for a,b in enumerate(countries):
    print(b,'\t\t\t', capitals[a])

spain 			 madrid
france 			 paris
germany 			 berlin
norway 			 oslo

In [49]:
list(zip(countries,capitals))

[('spain', 'madrid'),
 ('france', 'paris'),
 ('germany', 'berlin'),
 ('norway', 'oslo')]

In [50]:
# using dictionary 

dict_cc=dict(zip(countries,capitals))  # using zip to combine two lists to form a dictionary
for key, val in dict_cc.items():
    print(key,'\t\t\t',val)

spain 			 madrid
france 			 paris
germany 			 berlin
norway 			 oslo

In [51]:
# even zip object is iterable

for key, val in zip(countries,capitals):
    print(key,'\t\t\t',val)

spain 			 madrid
france 			 paris
germany 			 berlin
norway 			 oslo

In [52]:
# file connections also iterables which will be discussed later.

## range function

In [53]:
range()  press tab to get help

In [54]:
range(100)  # output is an iterable

range(0, 100)

In [79]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [55]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [80]:
# write a for loop to squre for 10 numbers and add them

In [81]:
sum=0
for i in range(1,11):
    sum=sum+i**2
print(sum)

385

# List comprehensions

### generating a list using for loop

In [85]:
one_to_ten=[i*2 for i in range(10)]

In [86]:
one_to_ten

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
# for this case even list() function would do
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list_of_countries

['India',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Australia',
 'South Africa',
 'West Indies',
 'England']

In [60]:
# copy the list_of_countries list to new list with out using for loop.

In [61]:
new_list=[]
for c in list_of_countries:
    new_list.append(c)

In [62]:
# copied properly?
list_of_countries==new_list

True

In [63]:
# both have different memory locations
print(id(list_of_countries), id(new_list))

4335151944 4334357896

In [64]:
# same can be achieved using list comprehensions
new_list2=[c for c in list_of_countries]  # a single liner

In [65]:
new_list2==new_list

True

## conditional comprehensions

In [66]:
# we can even add conditional statements

In [67]:
even_numbers= [ i for i in range(10) if i%2==0]
even_numbers

[0, 2, 4, 6, 8]

In [68]:
#what if we want to replace odd number with * and retain even numbers?

In [69]:
[num  if num%2==0 else '*'  for num in range(10)]

[0, '*', 2, '*', 4, '*', 6, '*', 8, '*']

In [87]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!