In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df= pd.DataFrame({'a':[1,2,3,4],'b':[10,20,30,40]})

In [4]:
df

   a   b
0  1  10
1  2  20
2  3  30
3  4  40

In [5]:
df1=pd.DataFrame({0:[1,2,3,4],1:[10,20,30,40],2:[100,200,300,400]})

   0   1    2
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [9]:
df1.columns

Int64Index([0, 1, 2], dtype='int64')

   0   1    2
1  2  20  200