# Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [2]:
a = [] # emptytlist

In [3]:
print(type(a))

<class 'list'>

### Beauty of python list is it can hold mix of data types

In [6]:
list1 = ['Apple','Google','MS','Facebook']

In [7]:
list2=[1,2,3,4.0,5.0,"End"]

In [8]:
list3= [list1, list2]

In [9]:
list3

[['Apple', 'Google', 'MS', 'Facebook'], [1, 2, 3, 4.0, 5.0, 'End']]

### Indexing

In python, Indexing starts from 0.

In [10]:
list1[0]

'Apple'

In [12]:
list1[1]==list1[-3]

True


![alt text](./Media/list_indexing.png "list_indexing")

In [13]:
print(list3)

[['Apple', 'Google', 'MS', 'Facebook'], [1, 2, 3, 4.0, 5.0, 'End']]

In [8]:

list3[0][1]  # Accessing innermost element of the list inside list

'orange'

### Negative indexing

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1.

In [9]:
list2

[1, 2, 3, 4.0, 5.0, 'End']

In [10]:
list2[-1]

'End'

In [11]:
list2[-3]

4.0

![alt text](./Media/multi_lists.png "multi")

In [17]:
list3[0][-3]

'Google'

In [14]:
list3[-2][-1]

'Facebook'

### List Splicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

![alt text](./Media/list_splice.png "multi")

In [20]:
list1[0:1]

['Apple']

In [23]:
num = [0,1,2,3,4,5,6,7,8,9]

In [24]:
print(num[0:4]) # 
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [25]:
print(num[:4])

[0, 1, 2, 3]

In [32]:
print(num)
num[-1::-1] #You can also slice a parent list with a fixed length or step length.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Manipulating lists

In [15]:
# change list element

In [33]:
num =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('Before',num)
num[3]=35
print('After',num)

Before [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After [0, 1, 2, 35, 4, 5, 6, 7, 8, 9]

In [37]:
# changing multiple elements
num =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('Before',num)
num[3:6]=[100,200,300]
print("After",num)

Before [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After [0, 1, 2, 100, 200, 300, 6, 7, 8, 9]

In [38]:
# changing multiple elements
num =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('Before',num)
num[1:3]=[100,200]
print("After",num)

Before [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After [0, 100, 200, 3, 4, 5, 6, 7, 8, 9]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [39]:
len(num)

10

In [41]:
print(num)

[0, 100, 200, 3, 4, 5, 6, 7, 8, 9]

In [50]:
st_list=['abc','defg','aijklm']

In [52]:
max(st_list, key=len)    # maximum of the list

'aijklm'

In [53]:
min(num)   # minimum of the list

0

In [54]:
[1,2,3] + [4,5,6]  # list concatination

[1, 2, 3, 4, 5, 6]

In [56]:
names = ['Earth','Air','Fire','Water']   # list of strings

In [57]:
'Alice'   in names    # in key word

False

In a list with elements as string, max( ) and min( ) is applicable. max( ) would return a string element whose ASCII value is the highest and the lowest when min( ) is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [25]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [26]:
print(max(mlist))
print(min(mlist))

z
az

In [59]:
nlist = ['1','94','93','1000']   # what you expect (min and max) from this?

In [60]:
max(nlist)

'94'

In [61]:
max(nlist, key=len)    # 'key' argument

'1000'

## Try methods with lists

In [62]:
print(nlist)
print('1- location',nlist.index('1'))
print('94- location',nlist.index('94'))
print('93 - location',nlist.index('93'))
print('1000 - location',nlist.index('1000'))

['1', '94', '93', '1000']
1- location 0
94- location 1
93 - location 2
1000 - location 3

In [64]:
print('before',nlist) # before appending
nlist.append([10,23])
print('after',nlist)

before ['1', '94', '93', '1000']
after ['1', '94', '93', '1000', [10, 23]]

In [65]:
len(nlist)

5

In [31]:
print('before',nlist) # before appending
nlist.append(['a','b','c'])
print('after',nlist)

before ['1', '94', '93', '1000', 10]
after ['1', '94', '93', '1000', 10, ['a', 'b', 'c']]

In [70]:
nlist=[10, '1000', '93', '94', '1', 10]
print('before',nlist) # before extending
nlist.extend([10,23])
print('after',nlist)

before [10, '1000', '93', '94', '1', 10]
after [10, '1000', '93', '94', '1', 10, 10, 23]

In [33]:
another_list=[1,2,3,4]
print('before clearning',another_list)
another_list.clear()
print('after clearing',another_list)

before clearning [1, 2, 3, 4]
after clearing []

In [75]:
nlist=[10, '1000', '93', '94', '1', 10]
print(nlist)
nlist.insert(2,['a','b','c'])
nlist

[10, '1000', '93', '94', '1', 10]

[10, '1000', ['a', 'b', 'c'], '93', '94', '1', 10]

In [76]:
print('before',nlist)
nlist.reverse()
print('after',nlist)

before [10, '1000', ['a', 'b', 'c'], '93', '94', '1', 10]
after [10, '1', '94', '93', ['a', 'b', 'c'], '1000', 10]

In [296]:
#reversing without using reverse method.
#nlist[-1::-1]

## Lists are mutable

In [77]:
nlist=['1000', '93', '94', '1']
print("Before",nlist, id(nlist))
nlist.append([3,4])
print("After",nlist, id(nlist))

Before ['1000', '93', '94', '1'] 4500845320
After ['1000', '93', '94', '1', [3, 4]] 4500845320

## ...but elments of list need not be mutable

In [78]:
print(nlist,id(nlist),'\t',nlist[0],id(nlist[0]))

['1000', '93', '94', '1', [3, 4]] 4500845320 	 1000 4500865464

In [79]:
nlist[0]=1500   # the element we are attempting change is an integer which is immutable

In [80]:
print(nlist,id(nlist),'\t',nlist[0],id(nlist[0]))

[1500, '93', '94', '1', [3, 4]] 4500845320 	 1500 4500818032

## problem of list being a mutable

In [81]:
first_list=[100,200,600,300]

In [82]:
# copy it to another list
copied_list=first_list

In [83]:
print("first_list",first_list,id(first_list))
print("copied_list",copied_list,id(copied_list))

first_list [100, 200, 600, 300] 4500918344
copied_list [100, 200, 600, 300] 4500918344

In [84]:
# change an element of first list that reflects in the copied list as well
print("BEFORE","first_list",first_list,'\t',"copied_list",copied_list)
first_list[2] = 1600
print("AFTER","first_list",first_list,'\t',"copied_list",copied_list)

BEFORE first_list [100, 200, 600, 300] 	 copied_list [100, 200, 600, 300]
AFTER first_list [100, 200, 1600, 300] 	 copied_list [100, 200, 1600, 300]

## use copy method of list to create a new list object

In [339]:
l1=[1,2,3]
l2=l1.copy()
print(l1,id(l1),l2,id(l2))

[1, 2, 3] 4363900232 [1, 2, 3] 4363919048

# Tuples

In [85]:
tpl=1,2,3,4,5  # just comma seperated sequence of values
tpl1=(1,2,3,4,5)
print('tpl=',tpl,'\n','tpl1=',tpl1)    # output tuples are always enclosed in parentheses

tpl= (1, 2, 3, 4, 5)
 tpl1= (1, 2, 3, 4, 5)

In [86]:
type(tpl)

tuple

In [87]:
# nested tuples
tpl_nstd= 1,2,3,(4,5),[6,7]
print(tpl_nstd)

(1, 2, 3, (4, 5), [6, 7])

In [88]:
# tuples elements also addressed in the same way as lists
print(tpl_nstd[0])
print(tpl_nstd[3])
print(tpl_nstd[4])

1
(4, 5)
[6, 7]

### lists are mutable but tuples are immutable

In [90]:
# try changing the values of tuples
tpl_nstd[0]=23  # observe the error

TypeError: 'tuple' object does not support item assignment

In [92]:
# index of the element
tpl=(1,1,1,3,3,5,6,7)
tpl.index(3)

3

In [ ]:
tpl.

In [93]:
# how many times a value repeated
tpl=(1,1,1,3,3,5,6,7)
print(tpl)
tpl.count(1)

(1, 1, 1, 3, 3, 5, 6, 7)

3

## Tuple assignment

In [94]:
name, surname, b_year, b_place, profession = 'Alice',' ', 1998, 'London', "Model"

In [95]:
(name, surname, b_year, b_place, profession) = ('Alice',' ', 1998, 'London', "Model")

In [96]:
(name, surname, b_year, b_place, profession) = 'Alice',' ', 1998, 'London', "Model"

# Sets

#### Same as mathematics definition : well defined collection of objects

In [98]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [102]:
basket={1,2,3,4,34,67,5,12}

basket

{1, 2, 3, 4, 5, 12, 34, 67}

In [106]:
basket.add(23)
print(basket)

{1, 2, 3, 4, 34, 67, 5, 12, 23}

In [107]:
str1='hello'

In [109]:
str(list(str1))

"['h', 'e', 'l', 'l', 'o']"

In [110]:
a=565

In [111]:
str(a)

'565'

In [112]:
tp=(1,2,3,4)

In [113]:
list(tp)

[1, 2, 3, 4]

In [114]:
a=[1,2,3,4]
b=[100,200,300,400]

In [116]:
dict(zip(a,b))

{1: 100, 2: 200, 3: 300, 4: 400}