# Variable

In [1]:
# Interger variable
age = 16 

# Float vaible
weight = 75.5   # in pounds

# string variable
player_name_name = "Alice"  # both single quote and double quotes are accepted
player_name = 'Alice'  
#player_name = 'Alice"  # we can note combine them
             

# Boolean variable

is_a_boxer=False  

# is_a_model?  not possible as a variable name

### Variable name must start with a letter or underscore   _

In [2]:
_var1=34

In [3]:
1var=34   # variable name starting with number
          # observe the error

SyntaxError: invalid syntax (<ipython-input-3-1f85ab4e9693>, line 1)

### Variable name is case sensitive

In [4]:
var1=34   # here both are different
VAR1=43

### After the first character variable name may consist of letters, numbers and underscores.

In [5]:
var1____0213 = "python variable"

In [6]:
var1____0213

'python variable'

# Python Indentation

We revisit the indentations.
This is just not you to make annoyed when you encounter the problem.

In [7]:
print("hello")
 print("king")

IndentationError: unexpected indent (<ipython-input-7-6fb7d6a75253>, line 2)

### type function
      A built-in/internal function
      syntax: type(<variable name>)

In [8]:
print(type(age))
print(type(weight))
print(type(player_name))
print(type(is_a_model))

<class 'int'>
<class 'float'>
<class 'str'>

NameError: name 'is_a_model' is not defined

In [9]:
age_type=type(age)

In [10]:
print(age_type)

<class 'int'>

In [11]:
#complex data type

cmp=1+2j 
cmp1=complex(3,4)
x=5
y=6
cmp2=complex(x,y)
print(cmp)
print(cmp1)
print(cmp2)

(1+2j)
(3+4j)
(5+6j)

In [12]:
print(type(cmp))

<class 'complex'>

variable objects and there methods
var_object.<tab>  in jupyter notebook displays the corresponding methods and other instatiated variables

In [13]:
age=2550000000000

In [14]:
print(cmp)
print(cmp.conjugate())

(1+2j)
(1-2j)

### bit_length()

In [15]:
print(age.bit_length)

<built-in method bit_length of int object at 0x103c83ed0>

In [16]:
print(age.bit_length())

42

In [17]:
distance = 200000000000000000000   # assingning
distance.bit_length()//8

8

In [18]:
distance.bit_length()//8

8

## Try the methods corresponding to each variable type

### After variable name and . press tab to obtain the list of methods related to the object
    ### Ex: age.<tab> results the following image
 ![alt text](./methods_list.png "methods list")

### Try to obtain the list of methods related to each variable type using the above said method

In [22]:
print(player_name)
player_name.index('c')

Alice

3

## int, float, str, bool data types are immutable
what does immutable mean?

In [23]:
# create a variable x and assing some value
x=10
print(type(x))

<class 'int'>

In [24]:
# id function tells us the memory location the variable is linked to
print(id(x))

4322507040

In [25]:
# what happens if x value is changed?
x=x+1
print(id(x))

4322507072

In [26]:
# it has discarded the memory located it first crerated.

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

We endup getting boolean variable as output

## Try applying different operators on different types of variables

### integer

In [27]:
age+age

5100000000000

In [28]:
age*2

5100000000000

In [29]:
age/2

1275000000000.0

In [30]:
age%2

0

In [31]:
age == 45

False

In [32]:
print(age)
age > 24

2550000000000

True

### float

In [33]:
weight/2

37.75

In [34]:
weight%3

0.5

In [35]:
weight//4

18.0

In [36]:
weight**2

5700.25

In [37]:
weight == 34

False

### string

In [38]:
player_name + " in wonderland" # observe the space given

'Alice in wonderland'

In [39]:
player_name*2   # its nothing but writing 2 times

'AliceAlice'

In [40]:
player_name/2   # what is the error you endup with?

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [41]:
player_name == 'Alice'

True

In [42]:
player_name == 'Mary'

False

In [43]:
player_name>'a'   # what is it comparing here?

False

In [44]:
# Unicode of the correspondings characters
print(ord('A'))
print(ord('a'))

65
97

In [45]:
'aa'=='aa'

True

In [46]:
'aa'=='ab'

False

In [47]:
'aa' > 'ab'

False

In [48]:
print(ord('a'))
print(ord('b'))

97
98

## Revisiting print function

In jupyter notebook function help can be obtained by using <shift + tab>
for print function by default sep=' '   and end='\n'

In [49]:
print()

In [50]:
gr1="Hello"
gr2="Python"
gr3="World"

print(gr1)   
print(gr2)
print(gr3)
print(gr1,gr2,gr3) # prints  variables
print(gr1+gr2+gr3) # prints  varibles combined

Hello
Python
World
Hello Python World
HelloPythonWorld

In [51]:
print(gr1+'@'+gr2)

Hello@Python

In [52]:
# tab seperation
print("Hello",end='\t')
print("All")

Hello	All

In [53]:
# new line seperation
print("Hello",end='\n')
print("All")

Hello
All

In [54]:
# Jupyter cell prints only the last statement
"Hello World"
"Welcome Python World"

'Welcome Python World'

In [55]:
print(gr1,gr2,gr3, sep="***")

Hello***Python***World

In [ ]:
dir()